<%- include('partials/header.ejs', { title: "Página Inicial" }) %>

<%- include('partials/navbar.ejs') %>

<div class="container mt-4">
  <h1>Bem-vindo!</h1>
  <p>Esse é meu projeto Node.js com EJS.</p>
</div>

<%- include('partials/footer.ejs') %>